.site-links {
  color: black;
  display: flex;
  max-width: 60em;
  justify-content: space-evenly;
  margin: 1em auto;
}

.site-links > a {
  display: flex;
  flex-direction: column;
  color: inherit;
  justify-content: flex-end;
  align-items: center;
}

.site-links > a::before {
  content: '';
  width: 2.5em;
  height: calc(2.5em);
  background-image: url(/images/selector_black.png);
  background-size: cover;
  transform: rotateY(90deg);
  opacity: 0;
  transition: transform .2s, opacity .2s;
}

.site-links > :not(.site-link-selected):hover::before {
  transform: rotateY(0);
  opacity: .5;
}

.site-links > .site-link-selected::before {
  animation: .25s pointer-rotation;
  transform: rotateY(0);
  opacity: 1;
}

@keyframes pointer-rotation {
  0% { transform: rotateY(90deg); opacity: 0; }
  100% { transform: rotateY(0); opacity: 1; }
}
