.post-tag {
  display: inline-flex;
  color: black;
  font-size: 1rem;
  min-width: 3em;
  padding: .1em .5em;
  margin: 0 .25em;
  border-radius: 4px;
  border: 1px solid #a0a0a0;
  text-decoration: none;
  vertical-align: middle;
  justify-content: center;
  transition: border-color .2s;
}

.post-tag:hover {
  border-color: black;
  /* text-decoration: underline; */
}
